<!DOCTYPE html>
<html lang = "ro">
	<head>
		<title> Game Corner </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon/./favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/css_general/style.css">
		<link rel="stylesheet" type="text/css" href="/css/css_special/404.css">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style800px.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style400px.css" media="screen and (max-width: 400px)">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="author" content="Dabu Alexandru">
		<meta name="description" content="Pagina principala a platformei de jocuri Game Corner">
		<meta name="keywords" content="Game Corner, comunitate, platforma, jocuri, ce e nou, comportament">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

		<%-  include('../fragmente/header')  %>

		<main>
			<div class="eroare">
				error 404!
			</div>
			<img src="/imagini/GameOver.png" alt="gameOver" title="game over">
			<div class="eroare text">
				Pagina nu exista! <br/>
				Ne cerem scuze!
			</div>
		</main>

		<%-  include('../fragmente/footer')  %>

	</body>
</html>
