<!DOCTYPE html>
<html lang = "ro">
	<head>
		<title> Game Corner </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon/./favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/css_general/style.css">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style800px.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style400px.css" media="screen and (max-width: 400px)">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="author" content="Dabu Alexandru">
		<meta name="description" content="Pagina principala a platformei de jocuri Game Corner">
		<meta name="keywords" content="Game Corner, comunitate, platforma, jocuri, ce e nou, comportament">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

		<%-  include('../fragmente/header')  %>

		<main>
			<h1> Game Corner </h1>
			<p> Platforma de jocuri PC </p>
			<section>
				<h2> <strong> Bun venit pe Game Corner </strong> </h2>
				<p> Game Corner este o platforma de jocuri pentru PC, infiintata in 2020, care are ca scop oferirea de experiente noi in materie de jocuri. </p>
				<section>
					<h3> Afla ce mai e nou in materie de jocuri pentru PC! </h3>
					<p> <strong>Iceborne</strong>, un nou expansion pack pentru titlul <i>Monster Hunter: World</i> </p>
					<figure>
						<img class = "mare" src="/imagini/monster-hunter-world-iceborne-deluxe-cover.jpg" alt="Monster Hunter" title="Monster Hunter">
						<figcaption><i>Monster Hunter: World - Iceborne (Deluxe edition)</i></figcaption>
					</figure>
					<p> <strong> Shovel Knight: King of Cards </strong>, un nou joc din seria <i>Shovel Knight</i>, aparut in decembrie 2020, dar care pastreaza stilul titlurilor precedente</p>
					<figure>
						<img class = "mica" src="/imagini/shovel-knight-king-of-cards.jpg" alt="Shovel Knight" title="Shovel Knight">
						<figcaption><i>Shovel Knight: King of Cards</i></figcaption>
					</figure>
				</section>
			</section>

			<section>
				<h2> Vrem sa cream o comunitate unita! </h2>
				<p> <strong> Nu suntem de acord cu comportamentul abuziv in ceea ce priveste experienta online. </strong> Vrem sa cladim o relatie sanatoasa cu userii nostri, dar pentru aceasta avem nevoie de respect reciproc, atat intre moderatori si useri, cat si intre useri. </p>
			</section>
		</main>

		<%-  include('../fragmente/footer')  %>

	</body>
</html>
