<!DOCTYPE html>
<html lang = "ro">
	<head>
		<title> Game Corner </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon/./favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/css_general/style.css">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style800px.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style400px.css" media="screen and (max-width: 400px)">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="author" content="Dabu Alexandru">
		<meta name="description" content="Pagina cu jocuri: aici veti putea gasi jocuri moderne, noi imagini ale viitorului, sau veti avea parte de nostalgia provocata de jocurile noastre vechi, cu experiente inedite">
		<meta name="keywords" content="jocuri, gaming, moderne, viitorul, nostalgia, experiente">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="js/task_niv_3.js"></script>
	</head>

	<body>
		<%-  include('../fragmente/header')  %>
		<main>
			<h1> Game Corner - Jocuri </h1>
			<p> Ceea ce vrem sa promovam! </p>
			<section>
				<h2> Jocuri Moderne </h2>
				<p> Vrei sa vezi ce mai este nou in gaming? Aici vei putea gasi toate raspunsurile. Avem cele mai noi tendinte in jocuri. </p>
				<aside> Puteti gasi tot felul de informatii in unul dintre submeniurile meniului "jocuri" </aside>
				<section>
					<h3> Viitorul in gaming </h3>
					<aside> In curand vom avea suport si pentru jocuri VR </aside>
					<p> Bucurati-va priviea cand va uitati la noile titluri ce urmeaza sa apara, dar si cele proaspat aparute pe piata. <b> In exclusivitate pe Game Corner!! </b> </p>
					<p> Cine este gata sa ucida niste demoni? Noul joc din seria Doom este aici. Avem parte de noi moduri in care putem sa ne distrugem adversarii, de noi mecanici, dificultate mai mare.
						Am asteptat aceasta minunata noutate in lumea gaming-ului de foarte mult timp, avand data de lansare fixata: <time datetime="2020-03-20">20 martie 2020</time>, si trebuie sa spunem, a avut un succes rasunator la lansare,
						note incredibile, review pozitiv, multi oameni multumiti. Doom: Eternal, o adevarata opera de arta!!! </p>
					<figure>
						<img class = "mare" src="/imagini/Doom-eternal-cover.jpg"  alt="Doom" title="Doom eternal">
						<figcaption> <i>Doom eternal</i> </figcaption>
					</figure>
					<p> Un alt titlu ce a starnit foarte multe discutii si hype in comuntatea de gaming este <i>Cyberpunk 2077</i>, joc produs de Richard Borzymowski, dezvoltat de CD Projekt, CD Projekt RED.</p>
					<figure>
						<img class = "mare" src="/imagini/Cyberpunk-2077-wallpaper.jpg" alt="Cyberpunk" title="Cyberpunk 2077">
						<figcaption> <i>Cyberpunk 2077</i> </figcaption>
					</figure>
				</section>
				<section>
					<h3> Referitor la VR/AR </h3>
					<p> Lumea jocurilor pe calculator se indreapta spre realitatea virtuala si augumentata care promite sa schimbe fata gaming-ului.</p>
					<p> Noi titluri in lumea VR arata ca aceasta latura a gaming-ului are un viitor stralucit. Cateva dintre astfel de titluri sunt <i>Half-Life: Alyx</i> si <i>BoneWorks</i>
						care testeaza limitele fizicii simulate si a alegerilor creative pe care le poate lua in jucator. </p>
				</section>
			</section>

			<section>
				<h2> In materie de jocuri nostalgice </h2>
				<p> Ceea ce vrem sa promovam sunt jocuri cu potential, care va pot face sa retraiti momentele copilariei, acum intr-o mult mai buna rezolutie, cu grafica ce imbunatateste experienta jocului  </p>
				<section>
					<h3> Jocurile copilariei </h3>
					<p> Ne dorim sa aducem, alaturi de noile tendinte, si experiente ce alimenteaza nostalgia. Pe platforma noastra veti gasi orice joc clasic, pe care oricine l-a jucat macar o singura data in copilarie. </p>
					<p> Retraieste momentele copilariei, alaturi de Captain Claw, si multe alte figuri familiare! </p>
					<figure>
						<img class = "mare" src="/imagini/Claw_Coverart.png" alt="Claw" title="Captain Claw">
						<figcaption> <i>Captain Claw</i> </figcaption>
					</figure>
					<p> Joaca-te alaturi de prietenii tai. Retraiti impreuna momentele dragi! Avem si jocuri care contin si optiunea CO-OP. </p>
					<figure>
						<img class = "mica" src="/imagini/jazz-jackrabbit-2.jpg" alt="jazz2" title="jazz jackrabbit 2">
						<figcaption> <i>Jazz jackrabbit 2</i> </figcaption>
					</figure>
					<p> Aminteste-ti de momentele frustrante in care nu intelegeai de ce nu puteai face bani in Caesar III si cum de un singur animal iti poate strica ziua, pentru ca nu il poti ingradi.
					Cu siguranta fiecare dintre noi, in momentul in care am jucat acest joc ne-am infuriat pe faptul ca nu putem curata o anumita parcela de pamant pentru ca o singura piatra statea in cale. </p>
					<figure>
						<img class = "mare" src="/imagini/caesar-3-cover-pc.jpg" alt="Caesar 3" title="Caesar III">
						<figcaption> <i>Caesar III</i> </figcaption>
					</figure>
					<p> Retraieste nostalgia vremurilor trecute prin jocul battleship. Fiecare dintre noi am jucat acest joc in momente in care nu aveam interent,
					sau pur si simplu sa ne distram jucand impotriva calculatorului. Acest joc de strategie este un clasic. Cei de la Hasbro revitalizeaza celebrul
				  si multicunoscutul joc, acesta primind actualizari de gameplay. </p>
					<p> In onoarea acestui minunat joc am vrea sa reamintim faptul ca pe navele de lupta se folosea codul Morse pentru a se transmite mesaje. Asa ca am implementat asta in site-ul nostru. </p>
					<textarea id = "morse" rows="4" cols="50" readonly> </textarea>
					<button type="button" id = "resetare">Reset</button>
					<button type="button" id = "ignora">Ignora</button>
					<button type="button" id = "sterge_litera">Sterge litera</button>
				</section>
			</section>
		</main>
		<%-  include('../fragmente/footer')  %>
	</body>
</html>
