<!DOCTYPE html>
<html lang = "ro">
	<head>
		<title> Game Corner </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon/./favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/css_general/style.css">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style800px.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style400px.css" media="screen and (max-width: 400px)">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="author" content="Dabu Alexandru">
		<meta name="description" content="Pagina ce cuprinde magazinul, de unde se pot cumpara jocuri, putand fi cautate dupa tag, pret sau categorie.">
		<meta name="keywords" content="magazin, jocuri, cumpara, tag, pret, categorie">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="js/ejs.min.js"></script>
		<script src="js/script.js"></script>
	</head>

	<body class="container">
		<%-  include('../fragmente/header')  %>
		<main>
			<h1> Game Corner - Magazin </h1>
			<p> Sectiune de magazin! </p>
			<figure>
				<img class="mare" src="/imagini/market-digital-art.jpg" alt="Market" title="Market">
			</figure>

			<section>
				<h2> Ce este zona de "magazin"? </h2>
				<p> Zona unde veti putea cumpara jocuri, la alegere, dupa placul inimii <em> (si dupa capacitatea portofelului) </em> </p>
				<p> <strong> DIN PACATE, ACEASTA PAGINA ESTE INCA IN CONSTRUCTIE, DEOARECE NECESITA MAI MULTE ELEMENTE </strong> </p>
			</section>

			<section>
				<h2> Ce veti putea cumpara? </h2>
				<p> Jocurile vor putea fi cautate dupa diverse tag-uri, cum ar fi: pret, data lansarii, categorii/tipuri de jocuri </p>
				<p> <strong> Motorul de cautare este inca in lucru!!! </strong> </p>
			</section>

			<section>
				<h2> Priviti preturile! </h2>
				<table>
					<caption> Preturile produselor noastre </caption>
					<thead>
						<tr>
							<th rowspan="2"> Jocuri </th>
							<th colspan="3"> Preturi </th>
						</tr>
						<tr>
							<th> Inital </th>
							<th> Reducere </th>
							<th> Final </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> Doom: Eternal </td>
							<td> 59.99$ </td>
							<td rowspan="3"> 10% </td>
							<td> 53.99$ </td>
						</tr>
						<tr>
							<td> Rocket League </td>
							<td> 24.99$ </td>
							<td> 22.49$ </td>
						</tr>
						<tr>
							<td> Artificial extinction </td>
							<td> 16.79$ </td>
							<td> 15.11$ </td>
						</tr>
						<tr>
							<td> Fallout 4 </td>
							<td> 19.99$ </td>
							<td> - </td>
							<td> 19.99$ </td>
						</tr>
						<tr>
							<td> Train simulator </td>
							<td> 29.99$ </td>
							<td> 50% </td>
							<td> 14.99$ </td>
						</tr>
						<tr>
							<td> Witcher 3 </td>
							<td> 26.99$ </td>
							<td> - </td>
							<td> 26.99$ </td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4"> Veniti de cumparati cat mai apucati! </td>
						</tr>
					</tfoot>
				</table>
			</section>

			<section>

				<h2 id="jumble">jocuri</h2>
				<!-- aici se va afisa continutul JSON-ului cu formatul din template-ul definit in script -->
				<div> Nume joc: <p id="Nume Joc"> </p></div>
				<div class = "special" id="original"> original </div>
				<div class = "special" id="pret"> pret </div>
				<div class = "special" id="data_lansare"> Data Lansare </div>
				<div class = "special" id="numar_taguri"> Numar Taguri </div>
				<div class = "special" id="data_speciala"> Data Speciala </div>
				<div class = "special" id="complex"> Complex </div>
				<div class = "special" id="stergere_duplicate"> Sterge Duplicate </div>
				<div id="medie"> medie: </div>
				<label class = "text">
					Tag-uri: <input type="text" id = "tags" name="preferinte" value="" size="50">
				</label>
				<button type="button" id="cauta">Cauta</button>
				<br/><br/>
				<div id="afisTemplate"> </div>
			</section>
		</main>
		<%-  include('../fragmente/footer')  %>
	</body>
</html>
