<!DOCTYPE html>
<html lang = "ro">
	<head>
		<title> Game Corner </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon/./favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/css_general/style.css">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style800px.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style400px.css" media="screen and (max-width: 400px)">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="author" content="Dabu Alexandru">
		<meta name="description" content="Submeniu al paginii 'home', care cuprinde noutati referitoare la lumea gamingului, lansarea noilor jocuri.">
		<meta name="keywords" content="joc, nou, gaming, anticipat, lansarea, titlu">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<%-  include('../fragmente/header')  %>
		<main>
			<h1> Game Corner </h1>
			<p> Ce mai e nou in lumea gaming-ului? </p>
			<article>
				<h2> Un nou joc din seria The Witcher este anticipat dupa lansarea jocului Cyberpunk 2077!</h2>
				<p> Cyberpunk 2077 inca nu a fost lansat, insa, se pare ca dezvoltatorii vor sa mai scoata un joc din seria The Witcher. </p>
				<p> Desi este un nou joc al francizei, noul joc nu va purta numele de <strong> The Witcher 4</strong> asa cum toti ne-am fi asteptat. Se pare ca urmatorul titlu nu va continua povestea din cadrul jocului <strong> The Witcher 3</strong>, despre care se spune ca este "finalul povestii"</p>
				<p> Ne asteptam la un nou titlu si un nou caracter, intr-o lume cunoscuta de catre noi, cei care am jucat seria The Witcher. Vom avea parte de o gura de aer, astfel vom primi un nou titlu, posibil curpinzand o noua poveste!</p>
			</article>
		</main>
		<%-  include('../fragmente/footer')  %>
	</body>
</html>
