<!DOCTYPE html>
<html lang = "ro">
	<head>
		<title> Game Corner </title>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon/./favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/css/css_general/style.css">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style800px.css" media="screen and (max-width: 800px)">
		<link rel="stylesheet" type="text/css" href="/css/css_general/style400px.css" media="screen and (max-width: 400px)">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<meta name="author" content="Dabu Alexandru">
		<meta name="description" content="submeniu al paginii 'jocuri', care cuprinde promotii referitoare la jocuri, reduceri, schimbari de pret, oferte pentru jocurile noi pe piata">
		<meta name="keywords" content="jocuri, oferte, reducere, pret, noi">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<%-  include('../fragmente/header')  %>
		<main>
			<h1> Game Corner </h1>
			<p> Platforma de jocuri PC </p>
			<section>
				<h2> Oferte avantajoase la cele mai noi jocuri!! </h2>
				<figure>
					<img class = "mica" src="/imagini/train-simulator-2020.jpg" alt="TS-20" title="train simulator 2020">
					<figcaption> <i>Train simulator 2020</i> </figcaption>
				</figure>
				<p> Traieste acum viata de sofer de tren in noul titlu al jocului <i>Train simulator</i>, <strong>acum cu o reducere de 50%</strong>. Pret: <s>29,99$</s> 14.99$</p>

				<figure>
					<img class = "mica" src="/imagini/artificial-extinction-header.jpg" alt="artificial-extinction" title="Artificial extintion">
					<figcaption> <i>Artificial extinction</i> </figcaption>
				</figure>
				<p> Ai 9 zile sa iti gasesti un loc sigur pe o planeta straina. Apara-te si gaseste combustibil pentru nava ta. Daca povestea suna interesant, incearca <i>artificial extinction</i>, <strong>acum cu o reducere de 10%</strong>. Pret: <s>16.79$</s> 15.11$</p>

			</section>
		</main>
		<%-  include('../fragmente/footer')  %>
	</body>
</html>
