body {
	background-color:#ffecb3;
	margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
	color: #332900;
	background-color: #cca300;
}

*{ /* resetarea spatierilor */
	margin:0px;
	padding:0px;
	text-indent:0px;
}

main, footer{
	padding-left:10%;
	padding-right:10%;
	padding-top:50px;
}

/* ------------coloane ------------------*/

	p.text{
		width:60%;
		float:left;
	}
	figure.img-wrap{
		width:40%;
		float:left;
	}

	figure.img-wrap>img{
		width:100%;
		height:auto;

	}

/* MENU */
nav{
	width:125%;
	position:fixed;
}

ul.menu>li, ul.menu>li>ul.submenu>li{
	display:block;
	font-size:1.0rem;
	font-weight:bold;
	height:3.0rem;
	line-height:3.0rem;
	text-align:center;
	list-style-type:none;
	overflow:hidden;
}

ul.menu>li{
	float:left;
	width:20%;
}

ul.submenu>li{
 	width:100%;
}

ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
	display:block;
	height:	100%;
	text-decoration:none;
	color:yellow;
	background:black;
	transition: background 1s linear;
}

ul.menu>li>ul.submenu{
	list-style-type: none;
	margin: 0;
  padding: 0;
	position:relative;
	top:0px;
}

ul.menu>li>ul.submenu>li
{
	border-top:2px solid gray;
}

ul.menu>li>ul.submenu>li:last-child
{
	border-bottom:2px solid gray;
}

ul.menu>li>a:hover, ul.submenu>li>a:hover{
	background:gray;
	transition: background 0s;
}

ul.menu>li:hover{
	overflow:visible;
}

@media screen and (min-width:400px) and (max-width:700px){
		p.text{
		float:none;
		width:100%;
		}
		figure.img-wrap{
		width:100%;
		}

		ul.menu>li{
		 width:40%;
		}

		ul.menu>li:hover ul.submenu{
			width:200vw;
			position:absolute;
			left:0px;
			top:3.0rem;
			border-top:2px solid gray;
			border-bottom:2px solid gray;
			background:black;
		}

		ul.menu>li:hover ul.submenu>li{
			float:left;
			width:15%;
			border:none;
		}
	}
	/* ce stil se aplica pentru width-ul ferestrei egal cu 400px? */
	@media screen and (max-width:400px){
		p.text{
		float:none;
		width:100%;
		}
		figure.img-wrap{
		width:100%;
		}
	}

	img.mica{
		max-width: 100%;
		height: auto;
		max-height: 36vh;
	}

	img.mare{
		max-width: 100%;
		height: auto;
		max-height: 72vh;
	}
