html {
	font-size: 13px;
}
main, footer{
	padding-top: 7rem;
}
ul.menu>li, ul.menu>li>ul.submenu>li {
	font-size:1.0rem;
}
p.text{
	float:none;
	width:100%;
}
figure.img-wrap{
	width:100%;
}

#ga{
	display: none;
}

#galerie_animata:after{
	content: "Animatia nu merge pe mobil!";
}

div#gs{
  grid-template-columns: auto;
}
